@font-face {
	font-display: swap;
	font-family: "Alexandria";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/alexandria-v1-latin-300.eot");
	src: url("../fonts/alexandria-v1-latin-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/alexandria-v1-latin-300.woff2") format("woff2"), url("../fonts/alexandria-v1-latin-300.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/alexandria-v1-latin-300.ttf") format("truetype"), url("../fonts/alexandria-v1-latin-300.svg#Alexandria") format("svg"); /* Legacy iOS */
}
/* alexandria-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Alexandria";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/alexandria-v1-latin-regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/alexandria-v1-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/alexandria-v1-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/alexandria-v1-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/alexandria-v1-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/alexandria-v1-latin-regular.svg#Alexandria") format("svg"); /* Legacy iOS */
}
/* alexandria-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Alexandria";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/alexandria-v1-latin-700.eot"); /* IE9 Compat Modes */
	src: url("../fonts/alexandria-v1-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/alexandria-v1-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/alexandria-v1-latin-700.woff") format("woff"), /* Modern Browsers */ url("../fonts/alexandria-v1-latin-700.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/alexandria-v1-latin-700.svg#Alexandria") format("svg"); /* Legacy iOS */
}

body {
	box-sizing: border-box;
	font-family: "Alexandria", sans-serif;
}

.header-title {
	font-size: 1.7em;
	margin: 0;
	padding-left: 0.3em;
}

.bayan-block {
	border-top: 0.01em solid black;
	margin: 0 auto;
	max-width: 90vw;
	max-height: 25vh;
	margin-bottom: 1em;
}

.bayan-input {
	-webkit-appearance: none;
	appearance: none;
	width: 100vw;
	height: 0;
	cursor: pointer;
}

.bayan-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bayan-title {
	font-weight: 500;
	font-size: 0.7em;
	margin-right: 13em;
}
.bayan-input:checked + label .bayan-title {
	color: orange;
}

.bayan-mem {
	opacity: 0;
	margin-left: 5em;
	visibility: hidden;
	width: 0;
	height: 0;
}

.bayan-input:checked + label .bayan-mem {
	opacity: 1;
	visibility: visible;
	width: 40%;
	height: 40%;
}

.bayan-block:hover .bayan-input + label .bayan-mem {
	opacity: 1;
	visibility: visible;
	width: 40%;
	height: 40%;
	transition: opacity 2s ease;
}

.bx-plus {
	opacity: 0;
	font-size: 1em;
}

.bayan-wrapper:hover label .bx-plus {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.bayan-block:hover .bayan-input + label .bx-plus {
	transform: rotate(45deg);
	transition: transform 0.5s ease-in-out;
}

.bayan-input:checked + label .bx-plus {
	transform: rotate(45deg);
}

@media (min-width: 820px) {
	.header-title {
		font-size: 2.5em;
		margin-left: 0.5em;
	}

	.bayan-block {
		border-top: 0.01em solid black;
		margin: 0 auto;
		max-width: 90vw;
		max-height: 65vh;
		margin-bottom: 1.3em;
	}

	.bayan-title {
		font-weight: 700;
		font-size: 1.5em;
		margin-right: 25.5rem;
		margin-top: 0.1vh;
	}

	.bayan-mem {
		margin-left: 10em;
		max-width: 50vw;
		max-height: 50vh;
	}

	.bx-plus {
		font-size: 3em;
	}
}

@media (min-width: 1920px) {
	.bayan-wrapper {
		margin: 0 auto;
		width: 78vw;
	}
	.header-title {
		font-size: 3.2em;
		font-weight: bold;
		margin-left: 5em;
	}

	.bayan-block {
		border-top: 1px solid black;
		width: 50vw;
		max-height: 35vh;
	}

	.bayan-title {
		font-weight: 700;
		font-size: 1.7rem;
	}

	.bayan-mem {
		margin-left: 20em;
		width: 45vh;
		height: 45vh;
	}
}
